.navbar {
    background-color: #333333;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    position: relative;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.navbar-logo-img {
    height: 40px; /* Adjust this value as needed */
    width: auto;
}

.navbar-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #cccccc;
}